
@property --rotate {
    syntax: "<angle>"; /* Especifica que o valor é um ângulo */
    initial-value: 132deg; /* Valor inicial da propriedade */
    inherits: false; /* A propriedade não é herdada */
}


:root {
    --card-height: 65vh; /* Altura dos cartões em 65% da altura da viewport */
    --card-width: calc(var(--card-height) / 1.5); /* Largura dos cartões como uma proporção da altura */
}


body {
    margin: 2rem; /* Margem ao redor do corpo */
    background-color: #212123; /* Cor de fundo */
}


h1 {
    font-size: 72px; /* Tamanho da fonte */
    color: #09e95f; /* Cor do texto */
    font-weight: bold; /* Texto em negrito */
    font-style: italic; /* Texto em itálico */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra do texto */
    text-align: center; /* Alinhamento centralizado */
    margin: 20px; /* Margem ao redor */
    background: linear-gradient(
        var(--rotate), /* Gradiente de fundo que usa a propriedade personalizada */
        #5ddcff, #3c67e3 43%, #4e00c2
    );
    -webkit-background-clip: text; /* Clip do fundo ao texto para efeito de preenchimento */
    -webkit-text-fill-color: transparent; /* Torna o texto transparente para mostrar o gradiente */
    animation: spin 2.5s linear infinite; /* Animação de rotação infinita do gradiente */
}


@keyframes spin {
    0% {
        --rotate: 0deg;
    }
    100% {
        --rotate: 360deg;
    }
}


.carrosel {
    -webkit-perspective: 250px; /* Perspectiva para efeito 3D */
    -moz-perspective: 250px;
    width: 400px; /* Largura do carrossel */
    height: 200px; /* Altura do carrossel */
    top: 50px; /* Posição do topo */
    position: relative; /* Posição relativa */
    margin: 0 auto; /* Margem automática para centralizar */
    display: flex; /* Layout flexível */
    justify-content: center; /* Centraliza conteúdo horizontalmente */
    align-items: center; /* Centraliza conteúdo verticalmente */
}


@-webkit-keyframes efeitoCarrosel {
    from {
        -webkit-transform: rotateY(360deg) translateZ(130px) rotateY(-360deg); /* Transformação inicial */
        -moz-transform: rotateY(360deg) translateZ(130px) rotateY(-360deg);
        z-index: 10; /* Índice Z inicial */
        opacity: 1; /* Opacidade inicial */
    }

    50% {
        z-index: -10; /* Índice Z intermediário */
    }

    to {
        -webkit-transform: rotateY(0deg) translateZ(130px) rotateY(0deg); /* Transformação final */
        -moz-transform: rotateY(0deg) translateZ(130px) rotateY(0deg);
        z-index: 10; /* Índice Z final */
        opacity: 1; /* Opacidade final */
    }
}

/* Animação do efeito carrossel para Mozilla */
@-moz-keyframes efeitoCarrosel {
    from {
        -moz-transform: rotateY(360deg) translateZ(130px) rotateY(-360deg); /* Transformação inicial */
        z-index: 10; /* Índice Z inicial */
        opacity: 1; /* Opacidade inicial */
    }

    50% {
        z-index: -10; /* Índice Z intermediário */
    }

    to {
        -moz-transform: rotateY(0deg) translateZ(130px) rotateY(0deg); /* Transformação final */
        z-index: 10; /* Índice Z final */
        opacity: 1; /* Opacidade final */
    }
}


.caixa__card {
    width: 100px; /* Largura do cartão */
    height: 150px; /* Altura do cartão */
    background-color: #442222; /* Cor de fundo */
    position: absolute; /* Posição absoluta */
    display: flex; /* Layout flexível */
    flex-direction: column; /* Direção do layout flexível em coluna */
    font-weight: bold; /* Texto em negrito */
    justify-content: center; /* Centraliza conteúdo verticalmente */
    align-items: center; /* Centraliza conteúdo horizontalmente */
    top: 35px; /* Posição do topo */
    left: 37%; /* Posição da esquerda */
    transform: translateX(-50%); /* Translada para centralizar */
    font-size: 9px; /* Tamanho da fonte */
    border-radius: 8px; /* Borda arredondada */
    box-shadow: 0px 0px 20px rgb(248, 247, 247); /* Sombra do cartão */
    text-align: center; /* Alinhamento do texto centralizado */
    -webkit-animation-name: efeitoCarrosel; /* Nome da animação para WebKit */
    -moz-animation-name: efeitoCarrosel; /* Nome da animação para Mozilla */
    -webkit-animation-duration: 15s; /* Duração da animação */
    -moz-animation-duration: 15s; /* Duração da animação */
    -webkit-animation-iteration-count: infinite; /* Animação infinita */
    -moz-animation-iteration-count: infinite; /* Animação infinita */
    -webkit-animation-timing-function: linear; /* Função de tempo linear */
    -moz-animation-timing-function: linear; /* Função de tempo linear */
    padding: 5px; /* Preenchimento interno */
}


.caixa__card img {
    margin-bottom: 0px; /* Diminuir o espaço entre a imagem e o texto */
}


.caixa__card p {
    margin: 0;
    font-size: 12px; /* Tamanho da fonte */
    color: white; /* Cor do texto */
    font-weight: bold; /* Texto em negrito */
    font-style: italic; /* Texto em itálico */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra do texto */
    text-align: center; /* Alinhamento centralizado */
    margin: 5px; /* Margem ao redor */
    background: linear-gradient(
        var(--rotate), /* Gradiente de fundo que usa a propriedade personalizada */
        #0c0c0c, #f7f6f6 43%, #070707
    );
    -webkit-background-clip: text; /* Clip do fundo ao texto para efeito de preenchimento */
    -webkit-text-fill-color: transparent; /* Torna o texto transparente para mostrar o gradiente */
    animation: spin 2.5s linear infinite; /* Animação de rotação infinita do gradiente */
    line-height: 1.2; /* Altura da linha */
}


.caixa__card:hover {
    border: solid #4466cc 3px; /* Borda ao passar o mouse */
    box-shadow: 0px 0px 10px #4466cc; /* Sombra ao passar o mouse */
}


.alimentos {
    background: linear-gradient(-229deg, #0093E9, #80D0C7); /* Gradiente de fundo */
    -webkit-animation-delay: -7s; /* Atraso na animação para WebKit */
    -moz-animation-delay: -7s; /* Atraso na animação para Mozilla */
    text-align: center; /* Alinhamento centralizado */
}


.lugaresbiblicos {
    background: linear-gradient(-229deg, #00DBDE, #FC00FF); /* Gradiente de fundo */
    -webkit-animation-delay: -6s; /* Atraso na animação para WebKit */
    -moz-animation-delay: -6s; /* Atraso na animação para Mozilla */
}

/* Estilos para a classe nomebiblicos */
.nomebiblicos {
    background: linear-gradient(-229deg, #50d990, #d4d054); /* Gradiente de fundo */
    -webkit-animation-delay: -5s; /* Atraso na animação para WebKit */
    -moz-animation-delay: -5s; /* Atraso na animação para Mozilla */
}

/* Estilos para a classe nomejogos */
.nomejogos {
    background: linear-gradient(-229deg, #cf91ff, #5782F5); /* Gradiente de fundo */
    -webkit-animation-delay: -4s; /* Atraso na animação para WebKit */
    -moz-animation-delay: -4s; /* Atraso na animação para Mozilla */
}

/* Estilos para a classe nomecarros */
.nomecarros {
    background: linear-gradient(-229deg, #642B73, #C6426E); /* Gradiente de
