@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap');

h1 {
    font-size: 72px;
    color: #09e95f;
    font-weight: bold;
    font-style: italic;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
    animation: rotateY 10s infinite linear;
    margin: 20px;
}

/* Define a animação de rotação no eixo Y */
@keyframes rotateY {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}

body {
    background-image: url('fundo.jpeg');
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 190px;
    height: 150px;
    background-color: #4CAF50;
    color: #fff;
    padding: 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    margin: 10px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    transform: perspective(1000px) translateZ(0) rotateY(0);
}

.button:hover {
    transform: perspective(1000px) translateZ(20px) rotateY(10deg);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

.button .button-image {
    max-width: 100px;
    display: block;
    margin: 0 auto 10px;
}

.button .button-text {
    font-size: 18px;
    font-style: italic;
    font-weight: 900;
    font-family: 'Cherry Bomb One', sans-serif;
    color: #b7b7ca;
    text-shadow: 1px 1px 1px #0a0a0a;
}

.neon-button {
    background: transparent;
    border: 2px solid #90ebca;
    color: #90ebca;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.neon-button:hover {
    box-shadow: 0 0 30px #90ebca, inset 0 0 30px #90ebca;
    text-shadow: 0 0 30px #90ebca;
}

.button.card-neon {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), 0 0 30px #90ebca, inset 0 0 30px #90ebca;
    transition: transform 0.3s, box-shadow 0.3s;
}

.button.card-neon:hover {
    transform: perspective(1000px) translateZ(20px) rotateY(10deg);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4), 0 0 30px #90ebca, inset 0 0 30px #90ebca;
    text-shadow: 0 0 30px #90ebca;
}

#init-button {
    background-color: #008000;
    position: relative;
}

#mid-button {
    background-color: #ffff00;
}

#adv-button {
    background-color: #008000;
}

/* Responsividade */
@media (max-width: 768px) {
    h1 {
        font-size: 48px;
    }
    
    .container {
        flex-direction: column;
    }
    
    .button {
        width: 150px;
        height: 120px;
        margin: 10px 0;
    }
    
    .button .button-text {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 36px;
    }
    
    .button {
        width: 120px;
        height: 100px;
    }
    
    .button .button-text {
        font-size: 14px;
    }
}
