@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap');

h1 {
    font-size: 72px; /* Altera o tamanho da fonte para 32 pixels */
    color: #09e95f; /* Define a cor do texto do título */
    font-weight: bold; /* Deixa o texto em negrito */
    font-style: italic; /* Deixa o texto em itálico */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Adiciona sombra ao texto */
    text-align: center; /* Centraliza o texto */
    animation: rotateY 10s infinite linear; /* Adiciona a animação de rotação no eixo Y */
}

/* Define a animação de rotação no eixo Y */
@keyframes rotateY {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}

body {
    background-image: url('fundo.jpeg');
    background-size: cover;
    background-position: fixed;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    justify-content: center;
}

.button {
    display: inline-block;
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    margin: 10px 5px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    transform: perspective(1000px) translateZ(0) rotateY(0);
}

.button:hover {
    transform: perspective(1000px) translateZ(20px) rotateY(10deg);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

.button .button-image {
    max-width: 100px;
    display: block;

    margin: 0 auto 10px;
}

.button .button-text {
    font-size: 18px;
    font-style: italic;
    font-weight: 900; /* Peso da fonte mais grosso */
    font-family: 'Cherry Bomb One', sans-serif; /* Fonte Cherry Bomb One */
    color: #b7b7ca; /* Cor azul-marinho */
    text-shadow: 1px 1px 1px #0a0a0a; /* Sombra branca */
}

.button.inicial {
    background-color: #fff;
    color: #333;
    cursor: default;
}

.button.inicial:hover {
    background-color: #fff;
}

.button.inicial > span {
    font-size: 14px;
    font-weight: normal;
}

.button.clicked {
    background-color: #666;
}

#init-button {
    background-color: #008000;
    position: relative;
}

#mid-button {
    background-color: #ffff00;
    font-size: 18px;
    font-style: italic;
    font-weight: 900; /* Peso da fonte mais grosso */
    font-family: 'Cherry Bomb One', sans-serif; /* Fonte Cherry Bomb One */
    color: #b7b7ca; /* Cor azul-marinho */
    text-shadow: 1px 1px 1px #0a0a0a; /* Sombra branca */
}

#adv-button {
    background-color: #008000;
    font-size: 18px;
    font-style: italic;
    font-weight: 900; /* Peso da fonte mais grosso */
    font-family: 'Cherry Bomb One', sans-serif; /* Fonte Cherry Bomb One */
    color: #b7b7ca; /* Cor azul-marinho */
    text-shadow: 1px 1px 1px #0a0a0a; /* Sombra branca */
}

/* Neon Button Styles */
.neon-button {
    background: transparent;
    border: 2px solid #90ebca;
    color: #90ebca;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.neon-button:hover {
    box-shadow: 0 0 30px #90ebca, inset 0 0 30px #90ebca; /* Aumentei o valor para 30px */
    text-shadow: 0 0 30px #90ebca; /* Aumentei o valor para 30px */
}

/* Merge Card and Neon Styles */
.button.card-neon {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), 0 0 30px #90ebca, inset 0 0 30px #90ebca; /* Aumentei o valor para 30px */
    transition: transform 0.3s, box-shadow 0.3s;
}

.button.card-neon:hover {
    transform: perspective(1000px) translateZ(20px) rotateY(10deg);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4), 0 0 30px #90ebca, inset 0 0 30px #90ebca; /* Aumentei o valor para 30px */
    text-shadow: 0 0 30px #90ebca; /* Aumentei o valor para 30px */
}
