/* O bloco abaixo define uma propriedade CSS personalizada chamada --rotate */
@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
}

/* O bloco abaixo define variáveis CSS globais */
:root {
    --card-height: 65vh;
    --card-width: calc(var(--card-height) / 1.5);
}

/* O bloco abaixo define o estilos para o corpo da página */
body {
    margin: 2rem;
    background-color: #212123;
}

/* O bloco abaixo define o estilos para o título */
h1 {
    font-size: 72px;
    color: #09e95f;
    font-weight: bold;
    font-style: italic;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
    margin: 20px;
    background: linear-gradient(
        var(--rotate),
        #5ddcff, #3c67e3 43%, #4e00c2
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: spin 2.5s linear infinite;
}

/* O bloco abaixo define a animação que gira o gradiente de fundo */
@keyframes spin {
    0% {
    --rotate: 0deg;
    }
    100% {
    --rotate: 360deg;
    }
}

/* O bloco abaixo define o estilos para o carrossel */
.carrosel {
    -webkit-perspective: 250px;
    -moz-perspective: 250px;
    width: 400px;
    height: 200px;
    top: 50px;
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* O bloco abaixo define a animação do efeito carrossel para WebKit */
@-webkit-keyframes efeitoCarrosel {
    from {
        -webkit-transform: rotateY(360deg) translateZ(130px) rotateY(-360deg);
        -moz-transform: rotateY(360deg) translateZ(130px) rotateY(-360deg);
        z-index: 10;
        opacity: 1;
    }

    50% {
        z-index: -10;
    }

    to {
        -webkit-transform: rotateY(0deg) translateZ(130px) rotateY(0deg);
        -moz-transform: rotateY(0deg) translateZ(130px) rotateY(0deg);
        z-index: 10;
        opacity: 1;
    }
}

/* O bloco abaixo define a animação do efeito carrossel para Mozilla */
@-moz-keyframes efeitoCarrosel {
    from {
        -moz-transform: rotateY(360deg) translateZ(130px) rotateY(-360deg);
        z-index: 10;
        opacity: 1;
    }

    50% {
        z-index: -10;
    }

    to {
        -moz-transform: rotateY(0deg) translateZ(130px) rotateY(0deg);
        z-index: 10;
        opacity: 1;
    }
}

/* O bloco abaixo define o estilos para os cartões no carrossel */
.caixa__card {
    width: 100px;
    height: 150px;
    background-color: #442222;
    position: absolute;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    top: 35px;
    left: 37%;
    transform: translateX(-50%);
    font-size: 9px;
    border-radius: 8px;
    box-shadow: 0px 0px 20px rgb(248, 247, 247);
    text-align: center;
    -webkit-animation-name: efeitoCarrosel;
    -moz-animation-name: efeitoCarrosel;
    -webkit-animation-duration: 15s;
    -moz-animation-duration: 15s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    padding: 5px;
}

/* O bloco abaixo define o estilos para a imagem dentro dos cartões */
.caixa__card img {
    margin-bottom: 0px;
}

/* O bloco abaixo define o estilos para o texto dentro dos cartões */
.caixa__card p {
    margin: 0;
    font-size: 12px;
    color: white;
    font-weight: bold;
    font-style: italic;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
    margin: 5px;
    background: linear-gradient(
        var(--rotate),
        #0c0c0c, #f7f6f6 43%, #070707
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: spin 2.5s linear infinite;
    line-height: 1.2;
}

/* O bloco abaixo define o estilos para os cartões quando o mouse passa por cima */
.caixa__card:hover {
    border: solid #4466cc 3px;
    box-shadow: 0px 0px 10px #4466cc;
}

/* O bloco abaixo define o estilos para a classe alimentos */
.alimentos {
    background: linear-gradient(-229deg, #0093E9, #80D0C7);
    -webkit-animation-delay: -9s;
    -moz-animation-delay: -9s;
    text-align: center;
}

/* O bloco abaixo define o estilos para a classe de palavras do dicionario */
.dicionario {
    background: linear-gradient(-229deg, #1472ff, #A8EB12);
    -webkit-animation-delay: -8s;
    -moz-animation-delay: -8s;
}

/* O bloco abaixo define o estilos para a classe do nome de lugares bíblicos */
.lugaresbiblicos {
    background: linear-gradient(-229deg, #00DBDE, #FC00FF);
    -webkit-animation-delay: -7s;
    -moz-animation-delay: -7s;
}

/* O bloco abaixo define o estilos para a classe do nomes bíblicos */
.nomebiblicos {
    background: linear-gradient(-229deg, #50d990, #d4d054);
    -webkit-animation-delay: -6s;
    -moz-animation-delay: -6s;
}

/* O bloco abaixo define o estilos para a classe de nomes de carros */
.nomecarros {
    background: linear-gradient(-229deg, #642B73, #C6426E);
    -webkit-animation-delay: -5s;
    -moz-animation-delay: -5s;
}

/* O bloco abaixo define o estilos para a classe de nomes de desenhos animado */
.nomedesenhos {
    background: linear-gradient(-229deg, #642B73, #C6426E);
    -webkit-animation-delay: -4s;
    -moz-animation-delay: -4s;
}

/* O bloco abaixo define o estilos para a classe do nome de jogos */
.nomejogos {
    background: linear-gradient(-229deg, #cf91ff, #5782F5);
    -webkit-animation-delay: -3s;
    -moz-animation-delay: -3s;
}

/* O bloco abaixo define o estilos para a classe de nomes de pessoas */
.nomepessoas {
    background: linear-gradient(-229deg, #FBAB7E, #F7CE68);
    -webkit-animation-delay: -2s;
    -moz-animation-delay: -2s;
}

/* O bloco abaixo define o estilos para a classe do nomes de times de futebol do mundo */
.timefutebol {
    background: linear-gradient(-229deg, #D9AFD9, #97D9E1);
    -webkit-animation-delay: -1s;
    -moz-animation-delay: -1s;
}
