/* O bloco abaixo define a cor do título do jogo */
h1 {
  font-size: 72px;
  color: #09e95f;
  font-weight: bold;
  font-style: italic;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  text-align: center;
  margin: 20px;
  background: linear-gradient(
      var(--rotate),
      #5ddcff, #3c67e3 43%, #4e00c2
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
      --rotate: 0deg;
  }
  100% {
      --rotate: 360deg;
  }
}

/* O bloco abaixo insere a imagem de fundo da pagina e define o tipo da fonte*/
body { 
  background-image: url('fundo.png');
  margin: 20px;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  background-size: cover;
  background-attachment: fixed; /* Adiciona esta linha para fixar o fundo */
}

/* Estilos para o container dos botões */
.button-container {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  position: absolute;
  top: 10px;
  width: 100%;
  box-sizing: border-box;
}

/* Estilos para os botões */
.button-container button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
}

.button-container button:hover {
  background-color: #45a049;
}

/* O bloco abaixo cria as partes do enforcado */
#pessoa-enforcada {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  font-size: 24px;
  color: black;
}

/* O bloco abaixo insere a cor preta no corpo do enforcado */
.cabeca, .tronco, .braco-esquerdo, .braco-direito, .perna-direita, .perna-esquerda {
  margin: 5px;
  background-color: black;
}

/* O bloco abaixo adiciona o tamanho da cabeça */
#pessoa-enforcada .cabeca {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/* Os blocos abaixo adiciona os detalhes da cabeça (olhos, nariz, boca, orelhas e cabelo) */
#pessoa-enforcada .cabeca-olho-esquerdo, .cabeca-olho-direito {
  position: relative;
  width: 5px;
  height: 5px;
  background-color: white;
  border-radius: 50%;
}

#pessoa-enforcada .cabeca-olho-esquerdo {
  top: -31.5px;
  left: 8px;
}

#pessoa-enforcada .cabeca-olho-direito {
  top: -36.5px;
  right: 8px;
}

#pessoa-enforcada .nariz {
  position: relative;
  top: -40px;
  left: -10x;
  width: 5px;
  height: 10px;
  background-color: white;
  border-radius: 10px;
}

#pessoa-enforcada .boca {
  position: relative;
  top: -71px;
  left: 0px;
  width: 20px;
  height: 5px;
  background-color: white;
  border-radius: 0 0 50px 50px;
}

#pessoa-enforcada .cabeca-orelha-esquerda, .cabeca-orelha-direita {
  position: relative;
  width: 7px;
  height: 13px;
  background-color: black;
  border-radius: 50%;
}

#pessoa-enforcada .cabeca-orelha-esquerda {
  top: -51.5px;
  left: 20px;
}

#pessoa-enforcada .cabeca-orelha-direita {
  top: -65px;
  right: 20px;
}

*#pessoa-enforcada .cabelo {
  position: relative;
  top: -91px;
  left: 0px;
  width: 34.5px;
  height: 8px;
  background-color: black;
  border-radius: 50px 50px 0 0px;
}

/* O bloco abaixo adiciona o tamanho do tronco */
#pessoa-enforcada .tronco {
  position: relative;
  top: -70px;
  width: 30px;
  height: 60px;
  border-radius: 20px;
}

/* O bloco abaixo adiciona o tamanho dos braços e arredonda as extremidades */
#pessoa-enforcada .braco-esquerdo, #pessoa-enforcada .braco-direito {
  position: relative;
  width: 15px;
  height: 40px;
  border-radius: 10px;
}

/* O bloco abaixo adiciona o posicionamento do braço direito à direita do tronco */
#pessoa-enforcada .braco-esquerdo {
  top: -135px;
  right: -25px;
}

/* Os blocos abaixo adiciona os dedos da mao esquerda */
#pessoa-enforcada .mao-esquerda-dedo1 {
  position: relative;
  top: -149px;
  right: -15.5px;
  width: 3px;
  height: 12px;
  background-color: black;
  border-radius: 10px;
  transform: rotate(20deg);
  transform-origin: bottom right;
}

#pessoa-enforcada .mao-esquerda-dedo2 {
  position: relative;
  top: -160px;
  right: -21px;
  width: 2.5px;
  height: 15px;
  background-color: black;
  border-radius: 10px;
}

#pessoa-enforcada .mao-esquerda-dedo3 {
  position: relative;
  top: -172px;
  right: -24.5px;
  width: 2.5px;
  height: 14px;
  background-color: black;
  border-radius: 10px;
}

#pessoa-enforcada .mao-esquerda-dedo4 {
  position: relative;
  top: -184px;
  right: -28px;
  width: 2.5px;
  height: 11px;
  background-color: black;
  border-radius: 10px;
}

#pessoa-enforcada .mao-esquerda-dedo5 {
  position: relative;
  top: -199px;
  right: -31.4px;
  width: 2.3px;
  height: 12px;
  background-color: black;
  border-radius: 10px;
}

/* O bloco abaixo adiciona o posicionamento do braço esquerdo à esquerda do tronco */
#pessoa-enforcada .braco-direito {
  top: -249px;
  left: -25px;
}

/* Os blocos abaixo adiciona os dedos da mao direita */
#pessoa-enforcada .mao-direita-dedo1 {
  position: relative;
  top: -263.5px;
  left: -15.5px;
  transform: rotate(-23.5deg);
  transform-origin: bottom right;
  width: 3px;
  height: 12px;
  background-color: black;
  border-radius: 10px;
}

#pessoa-enforcada .mao-direita-dedo2 {
  position: relative;
  top: -274px;
  left: -20.8px;
  width: 2.5px;
  height: 15px;
  background-color: black;
  border-radius: 10px;
}

#pessoa-enforcada .mao-direita-dedo3 {
  position: relative;
  top: -286.1px;
  left: -24.3px;
  width: 2.5px;
  height: 14px;
  background-color: black;
  border-radius: 10px;
}

#pessoa-enforcada .mao-direita-dedo4 {
  position: relative;
  top: -298px;
  left: -28px;
  width: 2.5px;
  height: 11px;
  background-color: black;
  border-radius: 10px;
}

#pessoa-enforcada .mao-direita-dedo5 {
  position: relative;
  top: -313px;
  left: -31.4px;
  width: 2.3px;
  height: 12px;
  background-color: black;
  border-radius: 10px;
}

/* O bloco abaixo adiciona o tamanho das pernas e arredonda as extremidades */
#pessoa-enforcada .perna-esquerda, #pessoa-enforcada .perna-direita {
  position: relative;
  width: 15px;
  height: 50px;
  border-radius: 10px;
}

/* O bloco abaixo adiciona o posicionamento da perna direita embaixo do tronco */
#pessoa-enforcada .perna-esquerda {
  top: -311px;
  left: 10px;
}

/* O bloco abaixo adiciona o sapato da perna esquerda */
#pessoa-enforcada .sapato-esquerdo {
  position: relative;
  top: -317px;
  right: -10px;
  width: 16px;
  height: 8px;
  background-color: black;
  border-radius: 10px;
}

/* O bloco abaixo adiciona o posicionamento da perna esquerda embaixo do tronco */
#pessoa-enforcada .perna-direita {
  top: -379px;
  left: -10px;
}

/* O bloco abaixo adiciona o sapato da perna esquerda */
#pessoa-enforcada .sapato-direito {
  position: relative;
  top: -385px;
  left: -10px;
  width: 16px;
  height: 8px;
  background-color: black;
  border-radius: 10px;
}

/*O bloco abaixo ajusta a posição dos textos*/
#estado-jogo, #tentativas-restantes, #letras-incorretas {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* O bloco abaixo define o tamanho da fonte e a sua posição */
#estado-jogo {
  top: 300px;
  margin-bottom: 5px;
  font-size: 34px;
  color: rgb(0, 0, 0);
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.7);
  font-size: 24px;
  text-align: center;
}

/* O bloco abaixo define o tamanho da fonte e a sua posição */
#tentativas-restantes {
  top: 350px;
  margin-bottom: 5px;
  font-size: 22px;
  color: rgb(0, 0, 0);
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.7);/
}

/* O bloco abaixo define o tamanho da fonte, cor e a sua posição */
#letras-incorretas {
  top: 380px;
  margin-bottom: 5px;
  font-size: 28px;
  color: rgb(0, 0, 0);
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.7);
}

/* O bloco abaixo define o tamanho da fonte, cor e a sua posição */
#entrada-letra {
  position: absolute;
  top: 420px;
  left: 44.5%;
  transform: translateX(-50%);
  min-width: 5px;
  max-width: 12px;
  margin-top: 10px;
  padding: 5px;
  font-size: 16px;
}

/* O bloco abaixo define o tamanho da fonte, cor e a sua posição */
#verificar-letra {
  position: absolute;
  top: 420px;
  left: 51.7%;
  transform: translateX(-50%);
  margin-top: 10px;
  padding: 5px 10px; padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
}

/* O bloco abaixo define a cor de fundo do botão e quando o botão e pressionado */
#verificar-letra:active {
  color: white;
  background-color: blue;
}

/*O bloco abaixo ajusta o jogo para telas menores*/
@media only screen and (max-width: 480px) {
  h1 {
    font-size: 36px;
    margin: 10px;
    text-align: center;
  }
  
  #pessoa-enforcada {
    margin-top: 10px;
  }
  
  #estado-jogo {
    font-size: 22px;
    top: 300px;
    left: 130px;
  }
  
  #tentativas-restantes {
    font-size: 18px;
    top: 365px;
  }
  
  #letras-incorretas {
    font-size: 18px;
    top: 390px;
  }
  
  #entrada-letra {
    top: 450px;
    left: 100px;
    font-size: 16px;
  }

  #verificar-letra {
    top: 450px;
    font-size: 16px;
  }
}

@media only screen and (max-width: 480px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  #pessoa-enforcada {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #estado-jogo, #tentativas-restantes, #letras-incorretas {
    margin-bottom: 10px;
  }
  
  #entrada-letra, #verificar-letra {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 480px) {
  #verificar-letra {
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
  }
  
  #verificar-letra:active {
    background-color: #3e8e41;
  }
  
  #entrada-letra {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
}