h1 {
  font-size: 72px; /* Altera o tamanho da fonte para 32 pixels */
  color: #09e95f; /* Define a cor do texto do título */
  font-weight: bold; /* Deixa o texto em negrito */
  font-style: italic; /* Deixa o texto em itálico */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Adiciona sombra ao texto */
  text-align: center; /* Centraliza o texto */
  animation: rotateY 10s infinite linear; /* Adiciona a animação de rotação no eixo Y */
}

/* Define a animação de rotação no eixo Y */
@keyframes rotateY {
  from {
      transform: rotateY(0deg);
  }
  to {
      transform: rotateY(360deg);
  }
}

/* O bloco abaixo insere a imagem de fundo da pagina  */
body { 
  background-image: url('fundo.png');
  background-size: cover;
  background-position: fixed;
  font-family: Arial, sans-serif;
} 

/* O bloco abaixo cria as partes do enforcado */
#pessoa-enforcada {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  font-size: 24px;
  color: #333;
}

/* O bloco abaixo insere a cor preta no corpo do enforcado */
.cabeca, .tronco, .braco-esquerdo, .braco-direito, .perna-direita, .perna-esquerda {
  margin: 5px;
  background-color: #333;
}

/* O bloco abaixo adiciona o tamanho da cabeça */
#pessoa-enforcada .cabeca {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/* O bloco abaixo adiciona os detalhes da cabeça (olhos, nariz, boca, orelhas e cabelo) */
#pessoa-enforcada .cabeca-olho-esquerdo, .cabeca-olho-direito {
  position: relative;
  width: 5px;
  height: 5px;
  background-color: white;
  border-radius: 50%;
}

#pessoa-enforcada .cabeca-olho-esquerdo {
  top: -31.5px;
  left: 8px;
}

#pessoa-enforcada .cabeca-olho-direito {
  top: -36.5px;
  right: 8px;
}

#pessoa-enforcada .nariz {
  position: relative;
  top: -40px;
  left: -10x;
  width: 5px;
  height: 10px;
  background-color: white;
  border-radius: 10px;
}

#pessoa-enforcada .boca {
  position: relative;
  top: -71px;
  left: 0px;
  width: 20px;
  height: 5px;
  background-color: white;
  border-radius: 0 0 50px 50px;
}

#pessoa-enforcada .cabeca-orelha-esquerda, .cabeca-orelha-direita {
  position: relative;
  width: 7px;
  height: 13px;
  background-color: #333;
  border-radius: 50%;
}

#pessoa-enforcada .cabeca-orelha-esquerda {
  top: -51.5px;
  left: 20px;
}

#pessoa-enforcada .cabeca-orelha-direita {
  top: -65px;
  right: 20px;
}

*#pessoa-enforcada .cabelo {
  position: relative;
  top: -91px;
  left: 0px;
  width: 34.5px;
  height: 8px;
  background-color: #333;
  border-radius: 50px 50px 0 0px;
}

/* O bloco abaixo adiciona o tamanho do tronco */
#pessoa-enforcada .tronco {
  position: relative;
  top: -70px;
  width: 30px;
  height: 60px;
  border-radius: 20px;
}


/* O bloco abaixo adiciona o tamanho dos braços e arredonda as extremidades */
#pessoa-enforcada .braco-esquerdo, #pessoa-enforcada .braco-direito {
  position: relative;
  width: 15px;
  height: 40px;
  border-radius: 10px;
}

/* O bloco abaixo adiciona o posicionamento do braço direito à direita do tronco */
#pessoa-enforcada .braco-esquerdo {
  top: -135px;
  right: -25px;
}

/* Os blocos abaixo adiciona os dedos da mao esquerda */
#pessoa-enforcada .mao-esquerda-dedo1 {
  position: relative;
  top: -149px;
  right: -15.5px;
  width: 3px;
  height: 12px;
  background-color: #333;
  border-radius: 10px;
  transform: rotate(20deg);
  transform-origin: bottom right;
}

#pessoa-enforcada .mao-esquerda-dedo2 {
  position: relative;
  top: -160px;
  right: -21px;
  width: 2.5px;
  height: 15px;
  background-color: #333;
  border-radius: 10px;
}

#pessoa-enforcada .mao-esquerda-dedo3 {
  position: relative;
  top: -172px;
  right: -24.5px;
  width: 2.5px;
  height: 14px;
  background-color: #333;
  border-radius: 10px;
}

#pessoa-enforcada .mao-esquerda-dedo4 {
  position: relative;
  top: -184px;
  right: -28px;
  width: 2.5px;
  height: 11px;
  background-color: #333;
  border-radius: 10px;
}

#pessoa-enforcada .mao-esquerda-dedo5 {
  position: relative;
  top: -199px;
  right: -31.4px;
  width: 2.3px;
  height: 12px;
  background-color: #333;
  border-radius: 10px;
}

/* O bloco abaixo adiciona o posicionamento do braço esquerdo à esquerda do tronco */
#pessoa-enforcada .braco-direito {
  top: -249px;
  left: -25px;
}

/* Os blocos abaixo adiciona os dedos da mao direita */
#pessoa-enforcada .mao-direita-dedo1 {
  position: relative;
  top: -263.5px;
  left: -15.5px;
  transform: rotate(-23.5deg);
  transform-origin: bottom right;
  width: 3px;
  height: 12px;
  background-color: #333;
  border-radius: 10px;
}

#pessoa-enforcada .mao-direita-dedo2 {
  position: relative;
  top: -274px;
  left: -20.8px;
  width: 2.5px;
  height: 15px;
  background-color: #333;
  border-radius: 10px;
}

#pessoa-enforcada .mao-direita-dedo3 {
  position: relative;
  top: -286.1px;
  left: -24.3px;
  width: 2.5px;
  height: 14px;
  background-color: #333;
  border-radius: 10px;
}

#pessoa-enforcada .mao-direita-dedo4 {
  position: relative; /* Define a posição do dedo 4 direito, posicionando-o de acordo com o fluxo da página */
  top: -298px; /* Define a posição do dedo 4 direito em relação ao topo da página */
  left: -28px; /* Define a posição do dedo 4 direito à esquerda */
  width: 2.5px; /*Define o tamanho da largura do dedo 4 direito */
  height: 11px; /* Define o tamanho da altura dedo 4 direito */
  background-color: #333; /* Define a cor de fundo do dedo 4 direito */
  border-radius: 10px; /* Arredonda as extremidades do dedo 4 direito */
}

#pessoa-enforcada .mao-direita-dedo5 {
  position: relative;
  top: -313px;
  left: -31.4px;
  width: 2.3px;
  height: 12px;
  background-color: #333;
  border-radius: 10px; /* Arredonda as extremidades do dedo 5 direito */
}

/* O bloco abaixo adiciona o tamanho das pernas e arredonda as extremidades */
#pessoa-enforcada .perna-esquerda, #pessoa-enforcada .perna-direita {
  position: relative;
  width: 15px;
  height: 50px;
  border-radius: 10px;
}

/* O bloco abaixo adiciona o posicionamento da perna direita embaixo do tronco */
#pessoa-enforcada .perna-esquerda {
  top: -311px; /* Define a posição da perna esquerda em relação ao topo da página */
  left: 10px; /* Define a posição da perna esquerda à esquerda*/
}

/* O bloco abaixo adiciona o sapato da perna esquerda */
#pessoa-enforcada .sapato-esquerdo {
  position: relative; /* Define a posição do sapato esquerdo, posicionando-o de acordo com o fluxo da página */
  top: -317px; /* Define a posição do sapato esquerdo em relação ao topo da página */
  right: -10px; /* Define a posição do sapato esquerdo à direita */
  width: 16px; /* Define o tamanho da largura do sapato esquerdo */
  height: 8px; /* Define o tamanho da altura do sapato esquerdo */
  background-color: #333; /* Define a cor de fundo do sapato esquerdo */
  border-radius: 10px; /* Arredonda as extremidades do sapato direito */
}

/* O bloco abaixo adiciona o posicionamento da perna esquerda embaixo do tronco */
#pessoa-enforcada .perna-direita {
  top: -379px; /* Define a posição em relação ao topo da página */
  left: -10px; /* Define a posição da perna direita à esquerda*/
}

/* O bloco abaixo adiciona o sapato da perna esquerda */
#pessoa-enforcada .sapato-direito {
  position: relative; /* Define a posição do sapato direito, posicionando-o de acordo com o fluxo da página */
  top: -385px; /* Define a posição do sapato direito em relação ao topo da página */
  left: -10px; /* Define a posição do sapato direito à esquerda */
  width: 16px; /* Define o tamanho da largura do sapato direito */
  height: 8px; /* Define o tamanho da altura do sapato direito */
  background-color: #333; /* Define a cor de fundo do sapato direito */
  border-radius: 10px;  /* Arredonda as extremidades do sapato direito */
}

/* ## Os blocos abaixo usam parte do arquivo forca.CSS do Meu_Primeiro_Jogo a qual foi criado ## */

/* O bloco abaixo define a fonte e seu estilo junto com a posição */
body {
  margin: 20px; /* Define a margem em torno do elemento body */
  font-family: Arial, sans-serif; /* Define a família da fonte principal e uma alternativa genérica */
  text-align: center; /* Alinha o texto ao centro */
}

/* O bloco abaixo define a cor do título do jogo */
h1 {
  color: #333; /* Define a cor do texto do título */
}

/*O bloco abaixo ajusta a posição dos textos*/
#estado-jogo, #tentativas-restantes, #letras-incorretas {
  position: absolute; /* Posiciona os textos de forma independente */
  left: 50%; /* Centralizar o texto na horizontalmente */
  transform: translateX(-50%); /* Ajusta a largura do próprio texto */
}

/* O bloco abaixo define o tamanho da fonte e a sua posição */
#estado-jogo {
  top: 360px; /* Define a posição do texto em relação ao topo da página */
  margin-bottom: 5px; /* Define a margem inferior */
  font-size: 24px; /* Define o tamanho da fonte do texto */
  text-align: center; /* Alinha o texto ao centro */
}

/* O bloco abaixo define o tamanho da fonte e a sua posição */
#tentativas-restantes {
  top: 400px; /* Define a posição do texto em relação ao topo da página */
  margin-bottom: 5px; /* Define a margem inferior */ 
  font-size: 18px; /* Define o tamanho da fonte do texto */
}

/* O bloco abaixo define o tamanho da fonte, cor e a sua posição */
#letras-incorretas {
  top: 430px;/* Posiciona os textos de forma independente */
  margin-bottom: 5px; /* Define a margem inferior */
  font-size: 18px; /* Define o tamanho da fonte do texto */
  color: red; /* Define a cor das letras incorretas */
}

/* O bloco abaixo define o tamanho da fonte, cor e a sua posição */
#entrada-letra {
  position: absolute; /* Posiciona os textos de forma independente */
  top: 450px; /* Define a posição do texto em relação ao topo da página */
  left: 46%; /* Centralizar o texto na horizontalmente */
  transform: translateX(-50%); /* Ajusta a largura do próprio texto */
  min-width: 5px; /* Define o tamanho da largura mínima da caixa de input */
  max-width: 12px; /* Define o tamanho da largura máxima da caixa de input */ 
  margin-top: 10px; /* Define a distância superior do conteúdo do texto */
  padding: 5px; /* Define o preenchimento em torno do conteúdo do texto */
  font-size: 16px; /* Define o tamanho da fonte do texto */
}

/* O bloco abaixo define o tamanho da fonte, cor e a sua posição */
#verificar-letra {
  position: absolute; /* Posiciona os textos de forma independente */
  top: 450px; /* Define a posição do texto em relação ao topo da página */
  left: 55%; /* Centralizar o texto na horizontalmente */
  transform: translateX(-50%); /* Ajustar a largura do próprio texto */
  margin-top: 10px; /* Define a distância superior do conteúdo do texto */ 
  padding: 5px 10px; padding: 5px 10px; /* Define o preenchimento no topo e na parte inferior das laterais */
  font-size: 16px; /* Define o tamanho da fonte do texto */
  cursor: pointer; /* Define o cursor como um ponteiro ao passar o mouse sobre o Texto */
}

/* O bloco abaixo define a cor de fundo do botão e quando o botão e pressionado */
#verificar-letra:active {
  color: white; /* Define a cor botão verificar*/
  background-color: blue; /* Define a cor do botão ao clicar nele */
}
