@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

$opacity-front: 1;
$opacity-back: .2;
$blur-front: 0;
$blur-back: .8px;
$drop-front: 4px 10px 10px rgba(0,0,0, .6);
$drop-back: 4px 4px 4px rgba(0,0,0, .2);

body {
   background: linear-gradient( #00446A 50%, #1c88c7);
   height: 100vh;
   box-sizing: border-box;
}

.container {
   max-width: 980px;
   padding: 0 32px;
   box-sizing: border-box;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: auto;
   height: 100%;
   
   transform: perspective(60px);
	transform-style: preserve-3d;
}

.product-card {
   max-width: 360px;
   
   img {
      width: 100%;
   }
   
   &:nth-child(1) {
      transform: translate3d(0,0,-15px);
      animation-name: rotate-left;
      animation-duration: 14s;
      animation-iteration-count: infinite;
      animation-delay: .5s;
      animation-timing-function: ease-in-out;
      filter: drop-shadow($drop-back);
   }
   
   &:nth-child(2) {
      transform: translate3d(0,0,5px);
      animation-name: rotate-center;
      animation-duration: 14s;
      animation-iteration-count: infinite;
      animation-delay: .5s;
      animation-timing-function: ease-in-out;
      filter: drop-shadow($drop-front);
   }
   
   &:nth-child(3) {
      transform: translate3d(0,0,-15px);
      animation-name: rotate-right;
      animation-duration: 14s;
      animation-iteration-count: infinite;
      animation-delay: .5s;
      animation-timing-function: ease-in-out;
      filter: drop-shadow($drop-back);
   }
}

@keyframes rotate-left {
  0%, 100% {
    transform: translate3d(0,0,-15px);
    filter: blur($blur-back) drop-shadow($drop-back);
  }

  33.33% {
    transform: translate3d(100%,0,5px);
     filter: blur($blur-front) drop-shadow($drop-front);
  }
   
   66.66% {
    transform: translate3d(200%,0,-15px);
      filter: blur($blur-back) drop-shadow($drop-back);
  }
}

@keyframes rotate-center {
  0%, 100% {
    transform: translate3d(0,0,5px);
     filter: blur($blur-front) drop-shadow($drop-front);
  }

  33.33% {
    transform: translate3d(100%,0,-15px);
     filter: blur($blur-back) drop-shadow($drop-back);
  }
   
   66.66% {
    transform: translate3d(-100%,0,-15px);
      filter: blur($blur-back) drop-shadow($drop-back);
  }
}

@keyframes rotate-right {
  0%, 100% {
    transform: translate3d(0,0,-15px);
    filter: blur($blur-back) drop-shadow($drop-back);
  }

  33.33% {
    transform: translate3d(-200%,0,-15px);
    filter: blur($blur-back) drop-shadow($drop-back);
  }
   
   66.66% {
    transform: translate3d(-100%,0,5px);
    filter: blur($blur-front) drop-shadow($drop-front);
  }
}

@media (max-width: 480px) {
   
   .container {
   flex-direction: column;
}
   
 .product-card {
  
   &:nth-child(1) {
      transform: translate3d(0,0,-15px);
   }
   
   &:nth-child(2) {
      transform: translate3d(0,0,0);
   }
   
   &:nth-child(3) {
      transform: translate3d(0,0,-15px);
   }
}
   
   @keyframes rotate-left {
  0%, 100% {
    transform: translate3d(0,0,-15px);
    filter: blur($blur-back) drop-shadow($drop-back);
  }

  33.33% {
    transform: translate3d(0,100%,5px);
    filter: blur($blur-front) drop-shadow($drop-front);
  }
   
   66.66% {
    transform: translate3d(0,200%,-15px);
    filter: blur($blur-back) drop-shadow($drop-back);
  }
}

@keyframes rotate-center {
  0%, 100% {
    transform: translate3d(0,0,5px);
    filter: blur($blur-front) drop-shadow($drop-front);
  }

  33.33% {
    transform: translate3d(0,100%,-15px);
    filter: blur($blur-back) drop-shadow($drop-back);
  }
   
   66.66% {
    transform: translate3d(0,-100%,-15px);
    filter: blur($blur-back) drop-shadow($drop-back);
  }
}

@keyframes rotate-right {
  0%, 100% {
    transform: translate3d(0,0,-15px);
    filter: blur($blur-back) drop-shadow($drop-back);
  }

  33.33% {
    transform: translate3d(0,-200%,-15px);
    filter: blur($blur-back) drop-shadow($drop-back);
  }
   
   66.66% {
    transform: translate3d(0,-100%,5px);
    filter: blur($blur-front) drop-shadow($drop-front);
  }
}
}